@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root {
    --green: #009688;
    --azure: #8EDAFC;
    --pink: #F3EEEA;
    --bg-color: #DBDBD2;
    --light-gray: #FAFAFA;
    --gray: #EAEAEA;
    --dark-gray: #B1B1B1;
    --very-dark-gray: #6B7376;
    --text: #343434;
    --text-gray: #a5a5a5;
    --send-message: rgb(220, 248, 198);
    --white: #FFF;

    --linear-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(220, 248, 198, 1) 100%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    border: none;
    outline: none;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(var(--green) 20%, var(--bg-color) 20%);
}

section {
    padding: 6rem 1rem;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;

}

.user {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
    background-color: var(--gray);
    border-right: 1px solid var(--text-gray);
}

.avatar {
    width: 60px;
    height: 60px;
    /* aspect-ratio: 1; */
    border-radius: 50%;
}

.name {
    font-weight: 500;
    color: var(--text);
}

.icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 1rem;
    color: var(--dark-gray);
}

aside {
    grid-row: 2 / 4;
    background-color: var(--white);
    overflow: auto;
}

.notification {
    grid-row: 2;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--azure);
    color: var(--text);
    padding: 1rem;
}

.bell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    aspect-ratio: 1;
    font-size: 20px;
    background-color: var(--white);
    border-radius: 50%;
    color: var(--azure);
}


.notification a {
    font-size: 0.875rem;
    color: var(--very-dark-gray);
    text-decoration: underline;
}

.search {
    position: relative;
    background-color: var(--light-gray);
    padding: 0.25rem;
}

.search-bar {
    width: 100%;
    line-height: 40px;
    border: 1px solid var(--gray);
    outline: none;
    padding-left: 78px;
    border-radius: 0.25rem;
}



.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 70px;
    height: calc(100% - 0.5rem);
    left: 0.25rem;
    top: 0.25rem;
    border-right: 1px solid var(--gray);
    color: var(--dark-gray);

}

.contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    padding: 0.5rem 1rem;
    border-top: 1px solid var(--gray);
    cursor: pointer;
}

.contact.active {
    background-color: var(--gray);
}

.contact.hidden {
    display: none;
}

.contact:hover {
    background-color: var(--gray);
}

.contact-avatar {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.date {
    margin-left: auto;
    align-self: flex-start;
    color: var(--text-gray);
    font-size: 0.875rem;
}

.last-message {
    color: var(--text-gray);
    font-size: 0.875rem;
    line-height: 1.6;
}

.chat {
    background-image: url(../img/mine.jpg);
    padding: 2rem 3rem;
}

.chat-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.message {
    /* overflow: hidden; */
    display: flex;
    gap: 1rem;
    position: relative;
    background-color: #fff;
    padding: 0.5rem 0.5rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    max-width: 300px;
    min-width: 35px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.message.sent {
    background-color: var(--send-message);
}

.message:hover.sent::before {
    position: absolute;
    content: '';
    inset: 0;
    border-radius: 0.5rem;
    background: var(--linear-gradient);
}

.message.received {
    align-self: flex-start;
}

.message-date {
    font-size: 0.625rem;
    align-self: flex-end;
    /* position: absolute;
    bottom: 0.25rem;
    right: 0.25rem; */
    color: var(--text-gray);
}

.arrow {
    display: none;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.message:hover.sent .arrow {
    display: block;
}

.message .delete-message {
    display: none;
    width: max-content;
    background-color: var(--white);
    position: absolute;
    right: 0.5rem;
    top: calc(100% - 0.5rem);
    padding: 1rem 1.5rem;
    z-index: 10;
    border-radius: 0.25rem;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.30);
}

.message:hover.sent .delete-message {
    display: block;
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message-item {
    cursor: pointer;
    color: var(--text-gray);
}

.message-item {
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.message-item:hover {
    background-color: var(--gray);
}

.new-message {
    padding: 0.5rem 2rem;
    grid-column: 2;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    background-color: var(--pink);
}

.new-message input {
    flex-grow: 1;
    line-height: 40px;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    padding-inline: 1rem;
}

.new-message i {
    color: var(--very-dark-gray);
    font-size: 20px;

}