<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src=" https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js "></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="app">
      <section>
        <div class="container">
          <div class="grid">
            <div class="user">
              <img class="avatar" src="./img/avatar_2.jpg" alt="image" />
              <p class="name">Daniele</p>
              <ul class="icons">
                <li class="icon-item">
                  <i class="fa-solid fa-circle-notch"></i>
                </li>
                <li class="icon-item"><i class="fa-solid fa-message"></i></li>
                <li class="icon-item">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </li>
              </ul>
            </div>
            <aside>
              <div class="notification">
                <span class="bell"><i class="fa-solid fa-bell-slash"></i></span>
                <div class="body">
                  <p>Ricevi notifiche di nuovi messaggi</p>
                  <a href="#">Attiva notifiche desktop</a>
                </div>
              </div>
              <div class="search">
                <input
                  class="search-bar"
                  type="text"
                  placeholder="Cerca o inizia una nuova chat"
                  v-model="searchInput"
                />
                <span class="search-icon"
                  ><i class="fa-solid fa-magnifying-glass"></i
                ></span>
              </div>
              <!-- <pre v-for="contact in searchContacts">
                {{ contact.name}}
              </pre> -->
              <ul class="contacts-list">
                <li
                  :class="{
                    'contact': true,
                    'active': index === currentIndex,
                    'hidden': contact.name.toLowerCase().match(searchInput.toLowerCase())=== null,
                  }"
                  v-for="(contact, index) in searchContacts"
                  @click="selectContact(index)"
                >
                  <img
                    class="contact-avatar"
                    :src="contact.avatar"
                    alt="image"
                  />
                  <div class="body">
                    <p class="name">{{ contact.name }}</p>
                    <p class="last-message">
                      {{ contact.messages[contact.messages.length - 1].message
                      }}
                    </p>
                  </div>
                  <span class="date">
                    {{ dateFormat(contact.messages[contact.messages.length -
                    1].date) }}</span
                  >
                </li>
              </ul>
            </aside>
            <div class="contact active">
              <img
                class="contact-avatar"
                :src="currentContact.avatar"
                alt="image"
              />
              <div class="body">
                <p class="name">{{ currentContact.name }}</p>
                <p class="last-message">Ultimo accesso oggi alle 12:00</p>
              </div>
              <ul class="icons">
                <li class="icon-item">
                  <i class="fa-solid fa-circle-notch"></i>
                </li>
                <li class="icon-item"><i class="fa-solid fa-message"></i></li>
                <li class="icon-item">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </li>
              </ul>
            </div>
            <div class="chat">
              <ul class="chat-list">
                <li
                  class="message"
                  :class="{
                    'sent': message.status === 'sent',
                    'received': message.status === 'received',
                    'delete': message.status === 'delete',

                  }"
                  v-for="(message, index) in currentContact.messages"
                >
                  {{ message.message }}
                  <span class="message-date"
                    >{{ dateFormat(message.date) }}</span
                  >
                  <span class="arrow"
                    ><i class="fa-solid fa-chevron-down"></i
                  ></span>
                  <div class="delete-message">
                    <ul class="message-list">
                      <li class="message-item">Info messaggio</li>
                      <li class="message-item" @click="deleteMessage(index)">
                        Cancella messaggio
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="new-message">
              <i class="fa-regular fa-face-smile"></i>
              <input
                @keyup.enter="newMessage"
                type="text"
                placeholder="Scrivi messaggio"
                v-model="textMessage"
              />
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="./js/app.js"></script>
  </body>
</html>
