<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="app">
      <section>
        <div class="container">
          <div class="grid">
            <div class="user">
              <img class="avatar" src="./img/avatar_io.jpg" alt="image" />
              <p class="name">Sofia</p>
              <ul class="icons">
                <li class="icon-item">
                  <i class="fa-solid fa-circle-notch"></i>
                </li>
                <li class="icon-item"><i class="fa-solid fa-message"></i></li>
                <li class="icon-item">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </li>
              </ul>
            </div>
            <aside>
              <div class="notification">
                <span class="bell"><i class="fa-solid fa-bell-slash"></i></span>
                <div class="body">
                  <p>Ricevi notifiche di nuovi messaggi</p>
                  <a href="#">Attiva notifiche desktop</a>
                </div>
              </div>
              <div class="search">
                <input
                  class="search-bar"
                  type="text"
                  placeholder="Cerca o inizia una nuova chat"
                />
                <span class="search-icon"
                  ><i class="fa-solid fa-magnifying-glass"></i
                ></span>
              </div>
              <ul class="contacts-list">
                <li
                  :class="currentIndex === index ? 'contact active' : 'contact'"
                  v-for="(contact, index) in contacts"
                  @click="selectContact(index)"
                >
                  <img
                    class="contact-avatar"
                    :src="contact.avatar"
                    alt="image"
                  />
                  <div class="body">
                    <p class="name">{{ contact.name }}</p>
                    <p class="last-message">Ultimo messaggio inviato</p>
                  </div>
                  <span class="date">12:00</span>
                </li>
              </ul>
            </aside>
            <div class="contact active">
              <img
                class="contact-avatar"
                :src="contacts[currentIndex].avatar"
                alt="image"
              />
              <div class="body">
                <p class="name">{{ contacts[currentIndex].name }}</p>
                <p class="last-message">Ultimo accesso oggi alle 12:00</p>
              </div>
              <ul class="icons">
                <li class="icon-item">
                  <i class="fa-solid fa-circle-notch"></i>
                </li>
                <li class="icon-item"><i class="fa-solid fa-message"></i></li>
                <li class="icon-item">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </li>
              </ul>
            </div>
            <div class="chat">
              <ul class="chat-list">
                <li
                  class="message"
                  :class="message.status === 'sent' ? 'sent' : 'received'"
                  v-for="message in contacts[currentIndex].messages"
                >
                  {{ message.message }}
                  <span class="message-date">15:00</span>
                </li>
              </ul>
            </div>
            <div class="new-message">
              <i class="fa-regular fa-face-smile"></i>
              <input
                @keyup.enter="newMessage"
                type="text"
                placeholder="Scrivi messaggio"
                v-model="textMessage"
              />
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="./js/app.js"></script>
  </body>
</html>
